<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <div class="navbar-brand">
            <img src="favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" />
            IManager
        </div>

        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
        </ul>

        <div class="ml-md-auto">
            <button class="btn btn-success" type="button" [routerLink]="['/account/login']">
                <i class="fa fa-user-circle mr-1"></i>
                Login
            </button>
        </div>

    </nav>

</header>